/.deps
/INSTALL
/Makefile
/autom4te.cache
/config.log
/config.status
/install-sh
/lg-lv.autobil.bin
/lg-lv.autogen.hfst
/lg-lv.automorf.hfst
/lg-lv.lrx.bin
/lg-lv.mode
/lg-lv.rlx.bin
/lg-lv.t1x.bin
/lv-lg.autobil.bin
/lv-lg.autogen.hfst
/lv-lg.automorf.hfst
/lv-lg.lrx.bin
/lv-lg.mode
/lv-lg.rlx.bin
/lv-lg.t1x.bin
/missing
/modes
/*.gz
/*.m4
/*.pc
/*.zhfst
/.DS_Store
/Makefile.in
/ap_include.am
/configure
/*-*.prob
/config.in
/config
/test/*-output.txt
